img {
    width: 200px;
    height: 350px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 30px;
}

figcaption {
    color: yellow;
    font-size: 22px;
}

h1, h2, li, p{
    color: yellow;
}

h1 {
    font-size: 32px;
    text-decoration: underline;
}

h2 {
    font-size: 28px;
}

p, li {
    font-size: 16px;
}

article {
    width: fit-content;
    height: fit-content;
    margin: 100px 300px;
    padding: 20px 100px;
    text-align: center;
    border-radius: 50px;
    background: transparent;
    box-shadow: 0px 0px 50px yellow;

    word-wrap: break-word;     
    white-space: -moz-pre-wrap; 
    white-space: pre-wrap;
}